Flask 
flask-cors 
flask-bcrypt 
flask-jwt-extended 
pymongo 
python-dotenv
langchain 
langchain-groq
langchain_community
validators
playwright
unstructured
fpdf
pdfplumber
huggingface_hub
youtube-transcript-api
transformers
gunicorn
