Flask 
flask-cors 
flask-bcrypt 
flask-jwt-extended 
pymongo 
python-dotenv
langchain 
langchain-groq
langchain_community
validator
fpdf2
pdfplumber
huggingface_hub
youtube-transcript-api
transformers
gunicorn
requests==2.32.3
beautifulsoup4==4.12.3
trafilatura==1.12.2
lxml==5.2.2
lxml-html-clean==0.4.2
